*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
.container{
    max-width: 940px;
    margin: auto;
}
header{
    position: relative;
}
.header::before{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100%;
    top: 0;
    left: calc(50% - 50vw);
    z-index: -1;
}
.header::after{
    content: '';
    position: absolute;
    background-image: url(../images/BackHeader.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
    top: 0;
    left: calc(50% - 50vw);
    z-index: -2;
}
.header-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0 25vh 0;
}
.header-up > .logo{
    font-family: 'Noto Serif';
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    color: #f2d048;
    font-size: 25px;
}
.header-up .fa-bars{
    display: none;
}
.header-up nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.header-up nav ul li{
    padding-right: 35px;
}
.header-up nav ul li:last-child{
    padding-right: 0px;
}
.header-up nav ul a{
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
}
.header-up nav ul a:hover{
    color: #f2d048;
}
.header-down{
    text-align: center;
}
.header-down p{
    font-family: 'Noto Serif';
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
    color: #ffffff;
    padding-bottom: 45px;
}
.header-down h1{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 75px;
    color: #ffffff;
    padding-bottom: 54px;
}
.header-down a{
    display: inline-block;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    padding: 23px 47px;
    background-color: #f2d048;
    border-radius: 3px;
    margin-bottom: 155px;
}
.header-down a:hover{
    transform: scale(1.1);
    transition: 0.8s;
}
.floor{
    padding: 10vh 0;
}
h2{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 40px;
    color: #272727;
    padding-bottom: 23px;
    text-align: center;
}
h2 + p{
    font-family: 'Noto Serif';
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    color: #767676;
    padding-bottom: 80px;
    text-align: center;
}
h3{
    padding-top: 28px;
    padding-bottom: 10px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    color: #272727;   
    text-align: center;
}
h3 + p{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 14px;
    color: #767676;
    text-align: center;
}
.floor .services{
    display: flex;
    justify-content: space-between;  
}
.floor .service{
    width: 30%;
    text-align: center;
}
.floor .service img{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px #f2d048 solid; 
    border-radius: 50%;
    padding: 10px; 
    text-align: center;
}
.portfolio{
    position: relative;
}
.portfolio::before{
    content: '';
    position: absolute;
    background-color: #f7f7f7;
    width: 100vw;
    height: 100%;
    top: 0;
    left: calc(50% - 50vw);
    z-index: -2;
}
.sites{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
}
.site{
    background-color: #ffffff;
    padding-bottom: 28px;
    transition: 0.8s;
}
.site:hover{
    transform: scale(1.1);
    transition: 0.8s;
    background-color: #f2d048;
    border: 0px;
}
.site a{
    text-decoration: none;
}
.site img{
    width: 100%;
}
.stories{
    display: grid;
    grid-gap: 0;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, minmax(180px, auto) 1fr) 180px;
}
.story{
    display: grid;
    grid-template-columns: 35% 30% 35%;
    align-items: center;
}
.last-story{
    grid-column-start: 1;
    grid-column-end: 4;   
}
.story:nth-of-type(1) h3, .story:nth-of-type(1) p, .story:nth-of-type(5) h3, .story:nth-of-type(5) p{
    text-align: right;
}
.story:nth-of-type(3) h3, .story:nth-of-type(3) p, .story:nth-of-type(7) h3, .story:nth-of-type(7) p{
    text-align: left;
}
.story div:nth-of-type(2), .last-story{
    height: 180px;
    width: 180px;
    border: 2px solid #f1f1f1;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}
.last-story{
    background-color: #fed136;
    position: relative;
}
.last-story:before{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    content: 'OUR STORY CONTINUES ...';
    color: white;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}
.story:nth-of-type(1) div:nth-of-type(2){
    background-image: url(../images/story1.png);
}
.story:nth-of-type(3) div:nth-of-type(2){
    background-image: url(../images/story2.png);
}
.story:nth-of-type(5) div:nth-of-type(2){
    background-image: url(../images/story3.png);
}
.story:nth-of-type(7) div:nth-of-type(2){
    background-image: url(../images/story4.png);
}
.line{
    grid-column-start: 1;
    grid-column-end: 4;
    display: block;
    width: 2px;
    height: 10vh;
    background-color: #f1f1f1;
    margin: auto;
}
.stories h3{
    padding: 0 0 5px 0;
}
.amazing-team{
    position: relative;
}
.amazing-team::before{
    content: '';
    position: absolute;
    background-color: #f7f7f7;
    width: 100vw;
    height: 100%;
    top: 0;
    left: calc(50% - 50vw);
    z-index: -2;
}
.workers{
    display: flex;
    justify-content: space-between;
}
.social{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.social i{
    text-align: center;
    width: 34px;
    padding: 7px;
    margin: 0 5px;
    border: 2px solid black;
    border-radius: 50%;
    color: black;
}
.workers + p{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 16px;
    color: #777777;
    text-align: center;
    padding-top: 5vh;
}
.sponsors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}
.sponsors img{
    padding: 5vh 0;
}
.contact{
    position: relative;
}
.contact::before{
    content: '';
    position: absolute;
    background-color: #222222;
    top: 0;
    left: calc(50% - 50vw);
    height: 100%;
    width: 100vw;
    z-index: -2;
}
.contact h2{
    color: white;
}
.personal-information{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 27px;
}
.personal-information input{
    border-radius: 5px;
}
.personal-information input::placeholder{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    padding: 20px 0 0 20px;
    color: #bbbbbb;
}
.personal-information input:nth-of-type(4){
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 200px;
}
.personal-information button{
    grid-column-start: 1;
    grid-column-end: 3;
    margin: auto;
    height: 65px;
    width: 240px;
    border-radius: 5px;
    background-color: #fed136;
    border: 0px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    color: white;
    transition: 0.8s;
    cursor: pointer;
}
.personal-information button:hover{
    transform: scale(1.1);
    transition: 0.8s;
}
footer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 20px 0;
}
footer > p{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px; 
}
footer .social-links i{
    background-color: black;
    color: white;
    text-align: center;
    width: 34px;
    padding: 7px;
    margin: 0 5px;
    border-radius: 50%;
}